@charset "ISO-8859-1";


/* form styling */


#wrapper {
	width: 60%;
	margin-left:4%;
}

div#formcol1 {
	
	float:left;	
	width: 100%;
}

div#formcol1 label {
	float:left;
	width:8.3em;
	text-align:left;
	display:block;
	padding-right:.3em;	
	background: none;
	clear:right;
	text-align: right;
	}
	

div#formcol1 ul li {
	list-style-type:none;
	margin-left:-2em;
	margin-bottom:.4em;
	}

	
div#formcol1 input {
	
	margin-left:1.5em;
	text-align:left;
	display:block;
	clear:right;
	background-color:#F4F4F4;
	}


/* div for radio buttons and check boxes */

#multchoice {
	clear:left;
	margin-left:1%;	
}

#multchoice input, #multchoice span {
	float:left;
}

#multchoice span {	
	margin: 0 .3em;
}

.submit-button {
	margin:1em 0;
	clear: both
}

label {
	margin-right: .3em;
	width: 3.5em;  /* I made this deliberately wide – come up with your own optimal width */
	display: inline-block; /* width will not work for “inline” elements such as “label”. Therefore we need to set it to “inline-block” */
	text-align: right;
}

#formcol1 li {   
	list-style:none;
}

select:focus, select:active, input:focus, input:active, input:focus + label, 
input:active + label, label[for]:focus, label[for]:active {
	color: #FFF !important;
	background-color: #BB3D2F !important;}

#formcol1 input.reqfield {
	background:#FF9;
}


		

/* end of form css */
	
